@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --WhiteColor:#ffffff;
    --DarkColor: #003147;
    --BackgroundColor: lightblue;
    --textColor: #333333;
    --HeadColor:#2a7da2;
    --iconsBlue: #03a9f4;
}

body{
    background: var(--BackgroundColor);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    margin: 50px;
    background: var(--WhiteColor);
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}

/* ======= left_side ======== */

.container .left_side{
    position: relative;
    background: var(--DarkColor);
    padding: 40px;
}

/* ======== Profile ========== */

.profile-text{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 20px;
}

.profile-text .imgBx{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-text .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-text h2{
    color: var(--WhiteColor);
    font-size: 1.5rem;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.profile-text h2 span{
    color: var(--WhiteColor);
    font-size: 0.8em;
    font-weight: 300;
}

/* ======== ContactInfo ======== */

.contactInfo{
    padding-top: 40px;
}

.title{
    color: var(--WhiteColor);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.contactInfo ul{
    position: relative;
}

.contactInfo ul li{
    list-style: none;
    position: relative;
    margin: 10px 0;
}

.contactInfo ul li .icon{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: var(--iconsBlue);
}

.contactInfo ul li span{
    color: var(--WhiteColor);
    font-weight: 300;
}

.contactInfo .contactInfo-link{
    color: var(--WhiteColor);
    font-weight: 300;
    text-decoration: none;
}

/* ========= languages ========== */

.language{
    padding-top: 40px;
}
.language ul{
    position: relative;
}

.language ul li{
    list-style: none;
    position: relative;
    margin: 10px 0;
}

.language ul li span{
    color: var(--WhiteColor);
    font-weight: 300;
}
.language .percent{
    position: relative;
    width: 100%;
    height: 6px;
    background: #081921;
    display: block;
    margin-top: 5px;
}

.language .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: var(--iconsBlue);
}

/* ======== Interest ========== */

.contactInfo.interest li{
    margin-bottom: 15px;
}

.interest ul{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.interest ul li{
    list-style: none;
    color: var(--WhiteColor);
    font-weight: 500;
    margin: 10px 0;
}

.interest ul li .hobby{
    color: var(--iconsBlue);
    font-size: 18px;
    width: 20px;
}

.interest ul li a{
    padding-left: 12px;
    text-decoration: none;
}




/*========= Right Side ======== */


.container .right_side{
    position: relative;
    background:var(--WhiteColor);
    padding: 40px;
}

/* ========== About ========== */

.about{
    margin-bottom: 50px;
}

.about:last-child{
    margin-bottom: 0;
}

.title2{
    color: var(--DarkColor);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

p{
    color: var(--textColor);
    font-weight: 500;
}

/* ======= Experience ======== */

.about .box{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.about .box{
    min-width: 150px;
}

.about .box{
    text-transform: uppercase;
    color: #848c90;
    font-weight: 600;
}

.about .box .text h4{
    text-transform: uppercase;
    color: var(--HeadColor);
    font-size: 16px;
}


/* ========== Skills ========= */

.skills .box{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
}

.skills .box h4{
    text-transform: uppercase;
    color: #848c99;
    font-weight: 500;
    padding-right: 5px;
}

.skills .box .percent{
    position:relative;
    width: 100%;
    height: 10px;
    background: #f0f0f0;
}

.skills .box .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: var(--iconsBlue);
}

/* ======== Projects ========= */

.projects ul{
    display: grid;
    grid-template-columns: repeat(2,1fr);

}
.projects ul li{
    list-style: none;
    
}
.projects ul li a{
    text-transform: uppercase;
    color: var(--textColor);
    font-weight: 500;
    text-decoration: none;
    font-size: 20px;
    padding-left: 12px;
}

.projects .project-icon{
    color: var(--iconsBlue);
    font-size: 18px;
    width: 20px;
}

.projects .project-icon:hover{
    color: var(--HeadColor);
}

.clickable{
    font-size: 12px !important;
}

/* ======== Strength ========= */

.strengths ul li{
    list-style: none;
    text-transform: uppercase;
    color: var(--textColor);
    font-weight: 500;
    padding-left: 20px;
    position: relative;
}
.strengths ul li:after {
    content: '';
    height: .5em;
    width: .5em;
    background: var(--iconsBlue);
    display: block;
    position: absolute;
    transform: rotate(45deg);
    top: 8px;
    left: 0;
}

/* ====== PDF Download  ====== */


.download-link{
    position: absolute;
    right: 20px;
    top: 35px;
    font-size: 29px;
}

/* ======= Responsive ======== */

/* ==== Media Query < 1000 === */


@media(max-width: 1000px){
    .container{
        margin:10px;
        grid-template-columns: repeat(1,1fr);
    }
    .contactInfo ul{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}

/* ==== Media Query < 600 ==== */


@media (max-width:600px){
    .about .box{
        flex-direction: column;
        margin-bottom: 5px;
    }

    .interest ul{
        grid-template-columns: repeat(1,1fr);
    }

    .skills .box{
        grid-template-columns: repeat(1,1fr);
    }

    .projects ul{
        grid-template-columns: repeat(1,1fr);
    }

    .contactInfo ul{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

    .contactInfo .contactInfo-link, .contactInfo a{
        font-size: 12px;
    }

}